.footer {
  background-color: rgb(97, 91, 91);
  color: white;

  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.footer_link {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.footer_link li {
  margin: 5px;
}
