* {
  padding: 0;
  margin: 0;
}
.Background_Banner {
  background-image: url("../Images/home.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
  padding: 50px;
}
.Para {
  margin-left: 20px;
  font-size: 48px;
  color: white;
  margin: 50px;
}
.ResponsiveMenu{
  display: none;
}
.button {
  margin: 50px;
  margin-top: 10px;
  padding: 10px;
  width: 20%;
  border: none;
  box-shadow: 2px 3px 5px rgb(65, 64, 64);
  font-size: large;
  transition: background-color 2s;
  border-radius: 5px;
}
.button:active {
  box-shadow: none;
}
.button:hover {
  background-color: black;
  color: white;
}
.NavBar_Home {
  display: flex;
  justify-content: space-between;
  background-color: #06578a;
  color: white;
  padding: 10px;
}
.Logo_area {
  padding: 10px;
}

.NavLink {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.Logo_Image {
  width: 70%;
}
.NavLink li {
  margin: 5px;
  list-style: none;
}
.ResponsiveLink{
  display: none;
}
.NavLink li a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

.color {
  border-bottom: 3px solid white;
}
#Cart {
  font-size: 24px;
}

@media screen and (max-width:878px) {
  .NavLink{
    display: none;
  }
  .Background_Banner{
    background-size: contain;
    background-repeat: no-repeat;
  }
  .ResponsiveMenu{
    display: block;
  }
  .menu{
    font-size: 34px;
    margin: 10px;
  }
  .ResponsiveLink{
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

  }
  .ResponsiveLink li a {
    text-decoration: none;
    color: white;
    font-size: 24px;

  }
  .ResponsiveLink li{
    list-style: none;
    border: 2px solid white;
    margin: 10px;

  }
  .Para{
    font-size: 34px;
  }
}

@media screen and (max-width:740px) {
  .Background_Banner{
    text-align: center;
    min-height: 200px;

  }
  .Para{
    font-size: 24px;
  }
  .button{
    font-size: 14px;
    margin: 20px;
    margin-top: 0px;
  }
}

@media screen and (max-width:604px) {
  .Background_Banner{
    min-height: 100px;

  }
  .Para{
    margin-top: -20px;
    font-size: medium;
  }
  .button{
    width: 40%;
    font-size: small;
  }
}